<h1>Desafio#projects</h1>
<p>Find me in app/views/desafio/projects.html.erb</p>

<div class="tarjetas">
<div class="row">
<div class="col">
<div class="card" style="width: 18rem; class: 'h-100'">
  <%= image_tag 'suricata.jpg', class:'card-img-top'  %>
  <div class="card-body">
    <h5 class="card-title">Proyecto Suricata</h5>
    <p class="card-text">Proyecto acerca ed una empresa de comida casera</p>
    <a href="https://github.com/SebitaMiranda/proyecto_suricata" class="btn btn-primary">Ver Mas</a>
  </div>
</div>
</div>
<div class="col">
<div class="card" style="width: 18rem; class: 'h-100'">
<%= image_tag 'metandcof.jpg', class: 'card-img-top' %>
  <div class="card-body">
    <h5 class="card-title">Proyecto Meet and Coffee</h5>
    <p class="card-text">Aprende y analiza tomando cafe</p>
    <a href="https://sebitamiranda.github.io/meet-coffee/" class="btn btn-primary">Ver Mas</a>
  </div>
</div>
</div>
  <div class="col">
 <div class="card" style="width: 18rem; class: 'h-100'">
 <%= image_tag 'olivia ros.jpg', class: 'card-img-top' %>
  <div class="card-body">
    <h5 class="card-title">Proyecto Olica Ross</h5>
    <p class="card-text">Pagina personal de Oliva Ross</p>
    <a href="https://github.com/SebitaMiranda/viajes_chile" class="btn btn-primary">Ver Mas</a>
  </div>
 </div>
</div>
</div>
</div>